[global]
k8s_resource=
k8s_ca=
k8s_namespace=
k8s_api_endpoint=
k8s_token=
watcher_plugin=

[plugin_simple]


[plugin_dns]
application_router_ip=    # IP address for the entry point to the OpenShift application - e.g.: load balancer, router, etc.
dns_server=               # DNS server holding records
dns_key_file=             # nsupdate key file
