[global]
k8s_resource=
k8s_ca=
k8s_namespace=
k8s_api_endpoint=
k8s_token=
watcher_plugin=

[plugin_simple]


[plugin_dns]
openshift_router_ipv4=    # IP address for the OpenShift router pod, used for DNS entries
dns_server=               # DNS server holding records
dns_key_file=             # nsupdate key file
