[global]
k8s_ca=
k8s_token=
k8s_api_endpoint=
k8s_api_path=
k8s_api_group=
k8s_api_version=
k8s_namespaced=
k8s_namespace=
k8s_resource=
watcher_plugin=

[plugin_simple]


[plugin_dns]
application_router_ip=    # IP address for the entry point to the OpenShift application - e.g.: load balancer, router, etc.
resolv_conf=              # Optional custom resolv.conf file to use for custom resolvers
dns_server=               # DNS server holding records
dns_key_file=             # nsupdate key file
